// COLORES:
$color-body: rgb(127, 127, 127);
$color-nav: rgb(2, 90, 100);
$color-head: rgb(136, 0, 21);
$color-principal: rgb(0, 162, 232);
$color-footer: rgb(46, 107, 209);

$color-textos: black;
$colorfondo-titulos: black;
$color-titulos: white;


// TAMAÑOS DE LAS IMAGENES:
$ancho-logo: 20%;
$altura-logo: 100%;

$ancho-logomobile: 40%;
$altura-logomobile: 50%;

$ancho-imagenes1: 100%;
$altura-imagenes1: 60%;

$ancho-imagenes2: 80%;
$altura-imagenes2: 60%;

$ancho-imagenesmobile1: 100%;
$altura-imagenesmobile1: 40%;

$ancho-imagenesmobile2: 50%;
$altura-imagenesmobile2: 50%;


// TAMAÑOS DE LAS FUENTES:
$tamañofuente-p: 120%;
$tamañofuente-h3: 200%;

// HOVER DE DESPLAZAMIENTODE LAS IMAGENES:
$desplazamiento-hover1: 15px;
$desplazamiento-hover2: 20px;
